<div class="msg">
  <h2> <%= @question %> </h2>
  <h2> <em>   -You</em> </h2>
</div>

<div class="msg coach">
  <h2> <strong><%= @answer %></strong> </h2>
  <h2> <em>   -Your coach</em> </h2>
</div>

<%= link_to "Ask another question", ask_path %>
