<div class="container">
  <form action="/answer">
    <input type="text" name="question" placeholder="Ask any question to your coach..." class="input">
    <input type="submit" value="Ask!" class="btn">
  </form>
</div>
